# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.env
.venv/
venv/
pip-wheel-metadata/
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
.coverage
htmlcov/

# Test/pytest
.pytest_cache/
.mypy_cache/
.tox/
.cache/

# Alembic
alembic/versions/__pycache__/
alembic/*pyc

# Docker
*.pid
*.pid.lock
docker-data/
minio-data/
postgres-data/

# Node (if any frontend bits)
node_modules/

# Local overrides
.env.local
.env.test
